In [2]:
import pandas as pd

In [3]:
data = pd.read_csv( './datasets/kc_house_data.csv' )

In [4]:
# 1 Qual a média do preço de compra dos imóveis por "Nível"?
# # Nível 0 - Preço entre R$ 0  e R$ 321950
# # Nível 1 - Preço entre R$ 321951  e R$ 450000
# # Nível 2 - Preço entre R$ 450001  e R$ 645000
# # Nível 3 - Preço maior ou igual a 645001

print( 'Nível 0 - ' + str(data['price'][(data['price'] >= 0) & (data['price'] < 321950)].mean()) )
print( 'Nível 1 - ' + str(data['price'][(data['price'] >= 321951) & (data['price'] < 450000)].mean()) )
print( 'Nível 2 - ' + str(data['price'][(data['price'] >= 450001) & (data['price'] < 645000)].mean()) )
print( 'Nível 3 - ' + str(data['price'][(data['price'] >= 645001)].mean()) )

Nível 0 - 251544.62150657043
Nível 1 - 383596.8610060514
Nível 2 - 538941.8367691154
Nível 3 - 987540.2244556114

In [5]:
# 2 Qual a média do tamanho da sala de estar dos imóveis por "Size"?
# # Size 0 - Tamanho entre 0  e 1427 sqft
# # Size 1 - Tamanho entre 1428  e 1910 sqft
# # Size 2 - Tamanho entre 1911  e 2550 sqft
# # Size 3 - Tamanho entre 2551

print( 'Nível 0 - ' + str(data['sqft_living'][(data['sqft_living'] >= 0) & (data['sqft_living'] < 1427)].mean()) )
print( 'Nível 1 - ' + str(data['sqft_living'][(data['sqft_living'] >= 1428) & (data['sqft_living'] < 1910)].mean()) )
print( 'Nível 2 - ' + str(data['sqft_living'][(data['sqft_living'] >= 1911) & (data['sqft_living'] < 2550)].mean()) )
print( 'Nível 3 - ' + str(data['sqft_living'][(data['sqft_living'] >= 2551)].mean()) )

Nível 0 - 1123.7764205071257
Nível 1 - 1661.2419868791003
Nível 2 - 2207.1235074626866
Nível 3 - 3329.607016234372

In [7]:
# 3 Adicione as seguintes informações ao conjunto de dados original 
# # Place ID: Identificação da localização
# # OSM Type: Open Street Map type
# # Country: Nome do País
# # Country code: Código do País

from geopy.geocoders import Nominatim 

# Initializing Nominatim API
geolocator = Nominatim( user_agent='geoapiExercises' )

for i in range ( 5 ):

    response = geolocator.reverse( str(data['lat'][i]) + ',' + str(data['long'][i]) )
    
    data['place_id'] = response.raw['place_id']
    data['osm_type'] = response.raw['osm_type']
    data['country'] = response.raw['address']['country']
    data['country_code'] = response.raw['address']['country_code']
    
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,place_id,osm_type,country,country_code
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,292831047,way,United States,us
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,292831047,way,United States,us
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,98028,47.7379,-122.233,2720,8062,292831047,way,United States,us
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,98136,47.5208,-122.393,1360,5000,292831047,way,United States,us
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,98074,47.6168,-122.045,1800,7503,292831047,way,United States,us